# Build output
trunk/images/

# Compiled binaries and build artifacts
trunk/tools/lzma/lzma
trunk/tools/mkimage/mkimage
trunk/tools/mksquashfs_xz/mksquashfs
trunk/tools/mksquashfs_xz/unsquashfs
trunk/tools/sstrip/sstrip
trunk/user/antfs/antfs.ko
trunk/user/chinadns-ng/chinadns-ng/chinadns-ng
trunk/user/hdparm/hdparm
trunk/user/igmpproxy/igmpproxy
trunk/user/libdisk/libdisk.so
trunk/user/libdisk/test_share
trunk/user/p910nd/p910nd
trunk/user/tcpdump/tcpdump
trunk/user/usb-modeswitch/usb_modeswitch
trunk/user/utils/qdma/qdma
trunk/user/xupnpd/src/xupnpd

# Build state files
trunk/tools/mksquashfs_xz/config_xz_done
trunk/user/*/config_done
trunk/user/*/download_done
trunk/libs/*/config_done
trunk/libs/*/download_done

# LPRng extracted build artifacts
trunk/user/LPRng/src/defs.h
trunk/user/LPRng/src/lpd
trunk/user/LPRng/src/lpd.conf
trunk/user/LPRng/src/lprng_certs
trunk/user/LPRng/src/lprng_index_certs
trunk/user/LPRng/header
trunk/user/LPRng/init.*
trunk/user/LPRng/lpd.conf
trunk/user/LPRng/ltmain
trunk/user/LPRng/man/
trunk/user/LPRng/post*
trunk/user/LPRng/pre*

# Extracted source tarballs (downloaded and extracted during build, not tracked in git)
trunk/libs/libiconv/libiconv-*/
trunk/libs/libnfnetlink/libnfnetlink-*/
trunk/libs/libpcap/libpcap-*/
trunk/libs/libusb-1.0/libusb-*/
trunk/tools/lzma/lzma-*/
trunk/tools/mksquashfs_xz/squashfs-*/
trunk/tools/mksquashfs_xz/xz-*/
trunk/user/antfs/antfs-*/
trunk/user/chinadns-ng/chinadns-ng-*/
trunk/user/comgt-0.32/
trunk/user/coremark/coremark-*/
trunk/user/dnsmasq/dnsmasq-*/
trunk/user/dosfstools/dosfstools-*/
trunk/user/e2fsprogs/e2fsprogs-*/
trunk/user/hdparm/hdparm-*/
trunk/user/igmpproxy/igmpproxy-*/
trunk/user/ipset/ipset-*/
trunk/user/miniupnpd/miniupnpd-*/
trunk/user/msd_lite/msd_lite-*/
trunk/user/msd_lite/msd_lite/build/
trunk/user/openssh/openssh-*/
trunk/user/p910nd/p910nd-*/
trunk/user/tcpdump/tcpdump-*/
trunk/user/transmission/transmission-*/
trunk/user/transmission/install/
trunk/user/usb-modeswitch/usb-modeswitch-*/
trunk/user/vlmcsd/vlmcsd-*/
trunk/user/xupnpd/xupnpd-*/

# Autotools generated files inside tracked source trees
trunk/user/inadyn/inadyn-2.12.0/Makefile
trunk/user/inadyn/inadyn-2.12.0/examples/Makefile
trunk/user/inadyn/inadyn-2.12.0/inadyn.service
trunk/user/inadyn/inadyn-2.12.0/include/Makefile
trunk/user/inadyn/inadyn-2.12.0/include/config.h
trunk/user/inadyn/inadyn-2.12.0/libtool
trunk/user/inadyn/inadyn-2.12.0/man/Makefile
trunk/user/inadyn/inadyn-2.12.0/src/Makefile
trunk/user/inadyn/inadyn-2.12.0/src/inadyn
trunk/user/inadyn/inadyn-2.12.0/test/Makefile
trunk/user/iptables/iptables-1.8.10/Makefile
trunk/user/iptables/iptables-1.8.10/config.h
trunk/user/iptables/iptables-1.8.10/extensions/.init*
trunk/user/iptables/iptables-1.8.10/extensions/GNUmakefile
trunk/user/iptables/iptables-1.8.10/extensions/init*.c
trunk/user/iptables/iptables-1.8.10/extensions/matches.man
trunk/user/iptables/iptables-1.8.10/extensions/targets.man
trunk/user/iptables/iptables-1.8.10/include/Makefile
trunk/user/iptables/iptables-1.8.10/include/xtables-version.h
trunk/user/iptables/iptables-1.8.10/iptables/Makefile
trunk/user/iptables/iptables-1.8.10/iptables/*.8
trunk/user/iptables/iptables-1.8.10/iptables/*.1
trunk/user/iptables/iptables-1.8.10/iptables/*.8.tmpl
trunk/user/iptables/iptables-1.8.10/iptables/xtables-legacy-multi
trunk/user/iptables/iptables-1.8.10/libipq/Makefile
trunk/user/iptables/iptables-1.8.10/libiptc/Makefile
trunk/user/iptables/iptables-1.8.10/libtool
trunk/user/iptables/iptables-1.8.10/libxtables/Makefile
trunk/user/iptables/iptables-1.8.10/utils/Makefile
trunk/user/iptables/iptables-1.8.10/utils/*.8
trunk/user/util-linux/util-linux-2.39.4/Makefile
trunk/user/util-linux/util-linux-2.39.4/blkdiscard
trunk/user/util-linux/util-linux-2.39.4/blkid
trunk/user/util-linux/util-linux-2.39.4/blockdev
trunk/user/util-linux/util-linux-2.39.4/chcpu
trunk/user/util-linux/util-linux-2.39.4/choom
trunk/user/util-linux/util-linux-2.39.4/col
trunk/user/util-linux/util-linux-2.39.4/colcrt
trunk/user/util-linux/util-linux-2.39.4/colrm
trunk/user/util-linux/util-linux-2.39.4/config.h
trunk/user/util-linux/util-linux-2.39.4/ctrlaltdel
trunk/user/util-linux/util-linux-2.39.4/dmesg
trunk/user/util-linux/util-linux-2.39.4/fadvise
trunk/user/util-linux/util-linux-2.39.4/findfs
trunk/user/util-linux/util-linux-2.39.4/flock
trunk/user/util-linux/util-linux-2.39.4/fsfreeze
trunk/user/util-linux/util-linux-2.39.4/getopt
trunk/user/util-linux/util-linux-2.39.4/hardlink
trunk/user/util-linux/util-linux-2.39.4/hexdump
trunk/user/util-linux/util-linux-2.39.4/ipcmk
trunk/user/util-linux/util-linux-2.39.4/isosize
trunk/user/util-linux/util-linux-2.39.4/ldattach
trunk/user/util-linux/util-linux-2.39.4/libblkid/docs/Makefile
trunk/user/util-linux/util-linux-2.39.4/libblkid/src/blkid.h
trunk/user/util-linux/util-linux-2.39.4/libfdisk/docs/Makefile
trunk/user/util-linux/util-linux-2.39.4/libfdisk/src/libfdisk.h
trunk/user/util-linux/util-linux-2.39.4/libmount/docs/Makefile
trunk/user/util-linux/util-linux-2.39.4/libmount/src/libmount.h
trunk/user/util-linux/util-linux-2.39.4/libsmartcols/docs/Makefile
trunk/user/util-linux/util-linux-2.39.4/libsmartcols/src/libsmartcols.h
trunk/user/util-linux/util-linux-2.39.4/libtool
trunk/user/util-linux/util-linux-2.39.4/look
trunk/user/util-linux/util-linux-2.39.4/mcookie
trunk/user/util-linux/util-linux-2.39.4/mkfs
trunk/user/util-linux/util-linux-2.39.4/mkswap
trunk/user/util-linux/util-linux-2.39.4/namei
trunk/user/util-linux/util-linux-2.39.4/pipesz
trunk/user/util-linux/util-linux-2.39.4/po-man/Makefile
trunk/user/util-linux/util-linux-2.39.4/po/Makefile
trunk/user/util-linux/util-linux-2.39.4/po/Makefile.in
trunk/user/util-linux/util-linux-2.39.4/po/POTFILES
trunk/user/util-linux/util-linux-2.39.4/readprofile
trunk/user/util-linux/util-linux-2.39.4/renice
trunk/user/util-linux/util-linux-2.39.4/rev
trunk/user/util-linux/util-linux-2.39.4/rtcwake
trunk/user/util-linux/util-linux-2.39.4/scriptreplay
trunk/user/util-linux/util-linux-2.39.4/setarch
trunk/user/util-linux/util-linux-2.39.4/setsid
trunk/user/util-linux/util-linux-2.39.4/swaplabel
trunk/user/util-linux/util-linux-2.39.4/uuidgen
trunk/user/util-linux/util-linux-2.39.4/whereis
